h2{
    text-align: center;
    font-size:22px;
    margin-bottom:50px;
}
body{
    background:#f2f2f2;
}
.section{
    margin-top:30px;
    padding:50px;
    background:#fff;
}
.pdf-btn{
    margin-top:30px;
}



